
@{
    ViewBag.Title = "Registeration";
}
<h2>@ViewBag.Title</h2>
<p>Please enter the information as follows:</p>

<form action="SubmissionView" method="post">
    Name:<input type="text" name="name" placeholder="Enter name" /><br />
    Email:<input type="email" name="email" placeholder="Enter email" /><br />
    Password:<input type="password" name="password" placeholder="Enter password" /><br />
    <input type="submit" />
</form>